.container {
  display: flex;
}

.register-form,
.login-form {
  flex: 1;
  padding: 20px;
  transition: opacity 0.3s ease-in-out;
}

.register-form {
  opacity: 1;
  background-color: #f1f1f1;
}
.login-form {
  
  background-color: blue;
  background-size: cover;
  animation: slideAnimation 5s infinite alternate;
}

@keyframes slideAnimation {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
